aws-cdk-lib==2.61.1
constructs>=10.0.0,<11.0.0
aws-cdk.aws-lambda-python-alpha
aws-cdk.aws-kinesisfirehose-destinations-alpha
aws-cdk.aws-kinesisfirehose-alpha
aws-cdk.aws-iot-actions-alpha
aws-cdk.aws-iot-alpha